*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/Users/dominicabogado/xmen/assignment1-portfolio/assets/images/circles-light.png");
    width:960px;
    margin: 0 auto;
    padding:0px;
}

.header {
    height: 100px;
    background-color: #ffffff;
    margin: 0;
    border-bottom: solid #cccccc 2px;
    position:relative;
}

#topname {
    background: #4aaaa5;
    height: 100px;
    width: 20%;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 0;
    border-bottom: solid #cccccc 2px;
}
#name {
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 24px
}
#nav {
    text-align: center;
    padding: 20px;
    position: absolute;
    margin: 0;
    line-height: 25px;
    right: 0;

}
a{
    color:#777777
}
#maincontent{
    background-color:#ffffff;
    padding: 20px;
    border-color: #dddddd;


}
#mypicture {
    clear: both;
    float: left;
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 10px
}
#section1 {
    float: left;
    width: 700px;
    line-height: 25px;
    margin: auto;
    padding: 10px;
}

.clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
#section2 {
    line-height: 25px;
    margin: auto;
}
h2 {
    color: #4aaaa5;
    border-bottom: solid;
    border-color:#dddddd;
    padding-bottom: 20px;
    padding-top: 20px;
}
p{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.footer{
    position: fixed;
    border-top: solid #4aaaa5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:#666666;
    color:#777777;
    text-align: center;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color:#4aaaa5;
}